* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  background-color: #e5e1da;
}

/* navbar */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  background-color: #fff;
  padding: 2rem 1rem;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
header .logo-header {
  font-size: 2rem;
  color: #333;
  font-weight: bold;
}
header .navbar-header a {
  font-size: 1rem;
  padding: 0 0.7rem;
  color: #666;
}
header .navbar-header a:hover {
  color: #282828;
  border-bottom: 0.1rem solid #282828;
  padding-bottom: 0.7rem;
}
header .icons-header {
  position: relative;
}
header .icons-header span {
  color: #fff;
  padding: 0 0.2rem;
  border: 0.1rem solid red;
  border-radius: 100%;
  background-color: red;
  position: absolute;
  top: 0.7rem;
  left: 1.4rem;
  font-size: 0.8rem;
  font-weight: bold;
}
header .icons-header .cart-icon {
  color: #555;
  margin-left: 0.1rem;
}
header .icons-header .cart-icon:hover {
  color: #333;
  border-bottom: 0.1rem solid #000;
}

/* home */
.home {
  position: relative;
  max-width: 100%;
  height: 37rem;
  background: url(home.jpg) no-repeat center;
  background-size: cover;
  background-position: center;
}
.home .content-home {
  position: absolute;
  top: 15rem;
  margin-left: 10rem;
  text-align: center;
}
.home .content-home h3 {
  font-size: 5rem;
  color: #333;
}
.home .content-home h3 span {
  font-size: 5rem;
  color: #565656;
  margin-left: 1rem;
}
.home .content-home p {
  font-size: 1.3rem;
  color: #333;
  line-height: 3rem;
}
.home .btn-home {
  display: inline-block;
  border-radius: 1rem;
  background-color: #9b9b9b;
  color: #fff;
  padding: 0.7rem 0.5rem;
  font-size: 1rem;
  margin-top: 1rem;
}
.home .btn-home:hover {
  background-color: rgb(128, 128, 128);
}

/* keranjang belanja */
.shopping-cart {
  top: 6rem;
  width: 20rem;
  height: 31rem;
  right: -100%;
  background-color: #fff;
  box-shadow: -0.1rem -0.1rem 0.5rem #555;
  z-index: 8888;
  position: fixed;
  padding: 1rem;
  font-size: 1.5rem;
  overflow: auto;
}
.shopping-cart.active {
  right: 0;
  display: block;
}
.shopping-cart h5 {
  text-align: center;
  font-size: 1.3rem;
  margin-top: 0.7rem;
  display: none;
}
.shopping-cart .cart-item {
  display: flex;
  gap: 0.7rem;
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
  align-items: center;
  padding: 0 0 0 0.3rem;
  background-color: #efefef;
}

/* Checkout Form */
.shopping-cart .form-container {
  width: 100%;
  border-top: 0.1rem dashed #555;
  margin-top: 0.7rem;
  padding: 0.1rem;
}
.shopping-cart .form-container label {
  margin: 1rem 0;
  font-size: 0.9rem;
  display: flex;
}
.shopping-cart .form-container span {
  flex: 1;
  font-size: 0.8rem;
}
.shopping-cart .form-container #payment {
  font-size: 0.8rem;
}
.shopping-cart .form-container input {
  flex: 2;
  background-color: #f4f4f4;
  font-size: 0.8rem;
  padding: 0.3rem 0;
}
.shopping-cart .form-container input:hover {
  background-color: #d2d2d2;
}
.shopping-cart .form-container .btn-checkout {
  padding: 0.3rem;
  background-color: rgb(255, 71, 71);
  color: #fff;
  border-radius: 5%;
  cursor: pointer;
  font-size: 0.9rem;
}
.shopping-cart .form-container .btn-reset {
  padding: 0.3rem;
  background-color: rgb(255, 71, 71);
  color: #fff;
  border-radius: 5%;
  cursor: pointer;
  font-size: 0.9rem;
}
.shopping-cart .form-container .total .btn-checkout:hover {
  background-color: red;
}
.shopping-cart .cart-item .detail .remove {
  color: #fff;
  font-size: 0.7rem;
  border: 0.1rem solid rgb(255, 71, 71);
  background-color: rgb(255, 71, 71);
  padding: 0.1rem;
}
.shopping-cart .cart-item .detail .remove:hover {
  background-color: red;
  border: 0.1rem solid red;
}

/* about */
.about {
  max-width: 100%;
  height: 30rem;
}
.about h1 {
  text-align: center;
  font-size: 2rem;
  color: #333;
  padding: 0.5rem;
  margin-top: 0.1rem;
  margin-bottom: 3rem;
  background-color: #a6aebf;
}
.about h1 span {
  color: #565656;
}
.about h3 {
  font-size: 2rem;
  color: #333;
  text-align: center;
  margin-bottom: 1rem;
}
.about p {
  text-align: center;
  font-size: 1.3rem;
  color: #333;
  line-height: 2rem;
  padding: 3rem 15rem;
}

/* Product */
.products h1 {
  text-align: center;
  font-size: 2rem;
  color: #333;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  background-color: #a6aebf;
}
.products .products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 100%;
  box-sizing: border-box;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.products .products-container .product {
  display: flex;
  flex-direction: column; /* menyusun konten secara vertikal */
  align-items: center;
  justify-content: center;
  border: 0.1rem solid #ccc;
  padding: 1rem;
  margin: 0.1rem;
  max-width: 13rem;
  box-sizing: border-box;
  background-color: #fff;
}
.products .products-container .product h3 {
  white-space: nowrap;
  width: 10rem;
  overflow: hidden; /* menyembunyikan teks yg panjang */
  text-overflow: ellipsis;
  padding: 0;
  font-size: 1.1rem;
  margin: 1rem 0 0.3rem;
}
.products .products-container .product h3.fulltitle {
  /* kelas fulltitle buat sendiri */
  white-space: normal;
  overflow: visible;
  text-overflow: unset; /* kembali ke defaultnya */
}
.products .products-container .product h3:hover {
  cursor: pointer;
}
.products .products-container .product .troli-cart {
  padding: 0.5rem 0.3rem;
  margin-top: auto; /* mendorong elemen ke bagian bawah */
  width: 100%;
  bottom: 0;
  color: #000;
  font-size: 0.9rem;
  background-color: #c5d3e8;
  border: none;
  text-align: center;
  cursor: pointer;
}
.products .products-container .product .troli-cart:hover {
  background-color: #b0c0d6;
}
.products .products-container .product img {
  max-width: 10rem;
  height: 10rem;
}
.products .products-container .product h5 {
  font-size: 1rem;
  font-weight: normal;
  padding: 0.3rem 0.2rem;
  margin-bottom: 0.3rem;
  border-radius: 0.1rem;
  color: red;
}
.products .products-container .product h5:hover {
  transform: scale(1.1, 1.1);
  background-color: rgba(205, 205, 205, 0.621);
  cursor: pointer;
}
.products .products-container .product .description {
  margin: 1rem 0;
  display: none;
}
.products .products-container .product .pricerate {
  font-size: 0.9rem;
  margin-top: auto;
  margin-bottom: 0.5rem;
  text-align: left;
  width: 100%;
}
.products .products-container .product .pricerate .price {
  color: green;
}
.products .products-container .product .pricerate .rating {
  color: rgb(255, 102, 0);
}
.products .products-container .product:hover img {
  transform: scale(1.1, 1.1);
}

/* deskripsi setiap produk */
.description-box {
  display: none;
  width: 55rem;
  height: 27rem;
  background-image: linear-gradient(to left, rgb(165, 165, 165) 30%, white 70%);
  position: fixed;
  top: 20%;
  left: 17%;
  z-index: 9999;
  color: #000;
  overflow: scroll;
}
.description-box.active {
  display: block; /* menampilkan deskripsi box ketika aktif */
}
.description-box h1 {
  text-align: center;
  margin: 1rem 0;
  padding: 1rem 0;
}
.description-box button {
  position: absolute;
  font-size: 2rem;
  background-color: transparent;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  padding: 0 0.5rem;
}
.description-box button:hover {
  background-color: rgba(240, 233, 233, 0.637);
  border-radius: 0.7rem;
  padding: 0 0.5rem;
}
.description-box .description-div {
  font-size: 1rem;
  font-weight: normal;
  display: flex;
  gap: 1rem;
}
.description-box .description-div img {
  width: 10rem;
  height: auto;
  margin-left: 1.5rem;
  flex: 1;
}
.description-box .description-div p {
  font-size: 1.1rem;
  padding: 1rem 2rem;
  line-height: 2rem;
  flex-wrap: wrap;
  width: 5rem;
  height: auto;
  flex: 2;
  justify-content: center;
}

/* ulasan customer */
.review h1 {
  text-align: center;
  font-size: 2rem;
  color: #333;
  padding: 0.5rem;
  margin-top: 0.1rem;
  margin-bottom: 3rem;
  background-color: #a6aebf;
}
.review .box-review {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  justify-content: space-evenly;
}
.review .box-review .box {
  width: 20rem;
  height: 20rem;
  border: 0.1rem solid #000;
  position: relative;
  box-shadow: 0.5rem 0.5rem 0.5rem #7e7e7e;
  background-color: #efefef;
}
.review .box-review .box:hover {
  transform: scale(1.1);
}
.review .box-review .box .starss {
  margin-left: 1rem;
  margin-top: 1rem;
}
.review .box-review .box .stars {
  fill: yellow;
  width: 1.7rem;
  left: 0.9rem;
}
.review .box-review .box p {
  margin-bottom: 0.7rem;
  height: 10rem;
  padding: 1.7rem;
  line-height: 2rem;
  font-size: 1.1rem;
}
.review .box-review .box .user {
  display: flex;
}
.review .box-review .box .user img {
  margin: 0 1rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 0.1rem solid #333;
  flex: 1;
}
.review .box-review .box .user img:hover {
  transform: scale(1.3);
}
.review .box-review .box .user .user-info {
  padding-top: 1rem;
  font-size: 1rem;
  flex: 3;
}
.review .box-review .box .user .user-info h4 {
  font-weight: normal;
  margin-top: 0.5rem;
}

/* contact */
.contact {
  padding-top: 3rem;
  padding-bottom: 1rem;
}
.contact .box-container {
  background-color: #f5f5f5;
  border: 0.1rem solid #333;
  box-shadow: 0.5rem -0.3rem 0.3rem #7e7e7e;
  border-radius: 1rem;
  width: 30rem;
  padding: 0.3rem;
  text-align: center;
  margin: 0 auto;
}
.contact .box-container h1 {
  font-size: 3rem;
  width: 25rem;
  height: 4rem;
  color: #333;
  border-radius: 1rem;
  text-align: center;
  margin: 1rem auto;
}
.contact .box-container .colom {
  font-size: 1rem;
  margin-bottom: 2rem;
  width: 25rem;
  height: 3rem;
  padding-left: 1rem;
  border-bottom: 0.1rem solid #989898;
  border-radius: 1rem;
  background-color: #ffffffd4;
}
.contact .box-container .btn-colom {
  font-size: 1rem;
  margin-bottom: 2rem;
  width: 25rem;
  height: 3rem;
  text-align: center;
  color: #fff;
  background-color: #333;
  border-radius: 1rem;
}

/* Tooltip contact dan form shopping-cart */
.tooltip,
.tooltip2 {
  position: relative;
}
.tooltip .tooltiptext,
.tooltip2 .tooltiptext2 {
  position: absolute;
  visibility: hidden;
  width: 11rem;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 0.3rem 0;
  border-radius: 0.5rem;
  bottom: 100%;
  transform: translate(6rem, -0.2rem);
}
.tooltip:hover .tooltiptext,
.tooltip2:hover .tooltiptext2 {
  visibility: visible;
}

/* footer */
.footer {
  margin-top: 3rem;
  background-color: #f1f0e8;
  position: relative;
}
.footer .box-container {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
}
.footer .box-container .box-footer {
  font-size: 1rem;
  flex: 1;
}
.footer .box-container .box-footer h1 {
  color: #333;
  padding: 1rem;
}
.footer .box-container .box-footer a,
.box-footer p {
  color: #4f4f4f;
  display: block;
  margin-left: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}
.footer .box-container .box-footer a:hover,
.box-footer p:hover {
  color: #000;
}
.footer .credit {
  text-align: center;
  margin-top: 1rem;
  padding: 1rem;
  font-size: 0.9rem;
  color: #333;
}
.footer .credit span {
  color: #000;
}

/* Media Queries */

/* Laptop and Dekstop */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 2rem;
  }
}

/* Tablets */
@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
  header .navbar-header {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
  }
  .home .content-home {
    position: absolute;
    top: 15rem;
    margin-left: 5rem;
    font-size: 1rem;
  }
  .about h3 {
    margin-top: 3rem;
  }
  .about p {
    text-align: center;
    font-size: 1.3rem;
    color: #333;
    line-height: 2rem;
    padding: 2rem 7rem;
  }
  .footer .box-container .box-footer a,
  .box-footer p {
    padding: 0.5rem;
  }
  .description-box {
    width: 37rem;
    height: 25rem;
    top: 20%;
    left: 30%;
  }
  .description-box h1 {
    text-align: center;
    margin: 0.7rem 0.3rem;
    padding: 0.4rem;
  }
  .description-box button {
    font-size: 1.1rem;
    top: 0.7rem;
    right: 0.8rem;
    padding: 0 0.7rem;
  }
  .description-box .description-div img {
    width: 3rem;
    height: auto;
  }
  .description-box .description-div p {
    font-size: 0.8rem;
    padding: 0.4rem;
    line-height: 1.1rem;
    width: 4rem;
    height: auto;
  }
}

/* Mobile Phones */
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .description-box {
    width: 20rem;
    height: 17rem;
    top: 20%;
    left: 15%;
  }
  .description-box h1 {
    text-align: center;
    margin: 0.5rem 0.1rem;
    padding: 0.3rem;
  }
  .description-box button {
    font-size: 1rem;
    top: 0.5rem;
    right: 0.7rem;
    padding: 0 0.5rem;
  }
  .description-box .description-div img {
    width: 2rem;
    height: auto;
  }
  .description-box .description-div p {
    font-size: 0.7rem;
    padding: 0.3rem;
    line-height: 1rem;
    width: 3rem;
    height: auto;
  }
}
